[Desktop Entry]
Version=1.0
Name=alternativeto
Comment=alternativeto
Exec=omarchy-launch-webapp https://alternativeto.net/
Terminal=false
Type=Application
Icon=/home/himadri/.local/share/applications/icons/alternativeto.png
StartupNotify=true
